@import '../../styles/utilities/imports';

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;

  &__section {
    background-color: $sage;
  }

  &__card {
    background-color: $off-white;
    padding: 2rem;
    margin: 0.5rem;
    box-shadow: $box-shadow;
    border-radius: $card-border-radius;
    transition: all ease-in-out 300ms;

    &:hover {
      transform: translateY(-0.5rem);
      border-radius: $card-border-radius-hover;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    align-items: center;
  }
}