@import '../../styles/utilities/imports';

.nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    list-style: none;

    @include media('<tablet') {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
