@import '../utilities/imports';

.calculator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/*SECTION STYLING*/

#img-header {
  margin: 0;
  padding: 0;
  width: 30%;
  height: 30%;
}

#about-me {
  background-color: $off-white;
  box-shadow: $box-shadow;
  border-radius: $card-border-radius;
}

#services {
  background-color: $off-white;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
}

#services-tools img {
  margin-top: 2.5rem;
  border-radius: 5px;
}

#links-container {
  background-color: $blueberry;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;

  svg {
    fill: white;
    width: 64px;
    height: 64px;
    transition: all ease-in-out 250ms;
  }
}

.etsy-ravelry-svg-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ravelry-logo,
#etsy-logo {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: transform $transition-curve-speed;
}

#etsy-logo:hover,
#ravelry-logo:hover,
#links-container svg:hover {
  transform: translateY(-1.5px) scale(1.05);
  fill: $grapefruit;
}

#links-description {
  color: $light-text;
}

/*COMPONENT STYLING*/

.announcements {
  border-left: 0.5rem solid $blueberry;
  &__countdown {
    width: 100%;
    background-color: $grapefruit;
    border-radius: $card-border-radius;
    box-shadow: $box-shadow;

    p,
    span {
      width: 100%;
      color: $light-text;
      font-family: 'Nunito';
      font-size: 1.2rem;
      padding: 2rem 0;
      text-align: center;
    }
  }

  &__body {
    max-width: 100%;
  }

  &__img-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 30%;
      height: auto;
    }
  }

  @media screen and (min-width: 769px) {
    p,
    span {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    border-left: none;
    p,
    span {
      font-size: 0.9rem;
    }
  }
}



#etsy-link,
#ravelry-link {
  visibility: hidden;
  display: block;
  margin: 0 auto;
  color: $grapefruit;

  &:hover {
    color: $blueberry;
    text-decoration: none;
    transition: color 250ms ease-in-out;
  }
}

#btn-send {
  background-color: $bright-blue;
  color: $light-text;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: $button-border-radius;
  border: none;
  box-shadow: $box-shadow;
  transition: transform ease-in-out 300ms;

  &:hover {
    transform: translateY(-0.15rem);
  }
}

#btn-calc {
  background-color: $bright-blue;
  color: $light-text;
  font-weight: bold;
  font-size: 1rem;
  border-radius: $button-border-radius;
  border: none;
  box-shadow: $box-shadow;
  transition: transform ease-in-out 300ms;

  &:hover {
    transform: translateY(-0.15rem);
  }
}

#yardage-used {
  background-color: $off-white;
  background: $off-white;
  color: $muted-text;
}

#contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $grape;
}

#contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;
  padding: 1rem;
}