@import '../../styles/utilities/imports';

.hero {
  background: $hero-bg-gradient;

  min-height: 60vh;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media('<tablet') {
      flex-direction: column;
      padding: 10rem 0;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  &__text {
    font-family: 'Nunito';
    font-size: clamp(2rem, 3rem, 7rem);
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: $hero-text-color;
    max-width: 100%;
  }

  &__subtext {
    font-family: 'Nunito';
    font-size: clamp(1.5rem, 0.5rem, 3rem);
    line-height: 1;
    text-transform: uppercase;
    width: 90%;
    color: $hero-subtext-color;
  }
}
